<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/index.css">
    <title>Filefy</title>
</head>
<body>
    <header>
        <h1>🗄️ Filefy</h1>
    </header>
    <main>
        <div class="container">
            <div class="upload">
                <input type="file" name="file" id="file">
                <button id="btn-upload">Upload</button>
            </div>
            <h3 class="title">Downloads</h3>
            <div class="downloads">
                <ul id="download-list">
                    {% for file in files %}
                    <li><a href="https://{{s3_bucket}}.s3.amazonaws.com/{{ file }}" target="_blank">📁 {{ file }}</a></li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </main>
    <footer>
        <small>Made with ❤️ by MochaTek &copy; 2021</small>
    </footer>

    <script src="/index.js"></script>
</body>
</html>